*::after,
*::before
{
  box-sizing:border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%; 
}
:root {
  --azul:#61dafb;
  --google-blue: #4285f4;
  --button-active-blue: #1669f2;
  --azul2:#1D2D50;
  --blanco: #ffffff;
  --gris1: #edf2f6;
  --grisback:#eff2f5;
  --gris2: #2f3848;
  --gris3: #1a202d;
  --negro: #000000;
  --bg-git:#202428;
  --background:#282c34;
  --headingFont:'Raleway', sans-serif;
  --headingFont2:'Montserrat', sans-serif;
  --textFont:  'Roboto', sans-serif;
  --bg-10:#eef0f1;
}
body{
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: var(--headingFont2);
  font-size: 16px;
  box-sizing: border-box;
}


h1{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 5%;
}
label{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 5%;
}
.response{
  text-align: center;
  color: black;
  font-size: 2rem;
  background-color: lightgreen;
}